<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prodavnica Olida</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
   
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: lightpink;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Olida</h1>      
    <p>Sve što vam treba na jednom mestu!</p>
  </div>
</div>


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Jogurt - Moja kravica</div>
        <div class="panel-body"><img src="../assets/imlek.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">2,8% mlečne masti!</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Munchmallow - classic</div>
        <div class="panel-body"><img src="../assets/munchmallow.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Ukus koji te osvaja!</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Dijamant - classic stoni margarin</div>
        <div class="panel-body"><img src="../assets/dijamant.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Prste da poližeš!</div>
      </div>
    </div>
  </div>
</div>
<br>


</body>
</html>
