<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prodavnica Olida</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
   
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: lightpink;
      padding: 25px;
    }


  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>O nama</h1>      
    <p>Upoznajte našu malu oazu i pronađite proizvode koji su vam potrebni!</p>
  </div>
</div>


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-body"><img src="../assets/supermarket.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Stvari koje bi mogli da znate...</div>
        <div class="panel-body"><h1>Prodavnica Olida osnovana je 2017. godine u Beogradu. Nalazi se u ulici Jurija Gagarina 54.
            Svi vaši omiljeni brendovi, ali i ponešto novo. Domaće i zdravo i sto posto sveže!</h1>
        </div>
       
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-body"><img src="../assets/supermarket2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
  </div>
</div>
<br>


</body>
</html>